@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@media only screen and (max-width: 600px){
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font:'Poppins', sans-serif;
    text-decoration: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    margin-top: 5rem;
    width: 279px;
    height: 451px;
}

.logo{
    display: flex;
    justify-content: center;
}


input{
    width: 17.5rem;
    height: 2.9rem;
    background: rgba(238, 238, 238, 0.6);
    border-radius: 4px;
    border: none;
    margin: 4px 0px;
}

form{
    margin-top: 2rem;
}
label{
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 19px;
color: rgba(0, 0, 0, 0.4);
}

.p-field{
    margin-top: 0.5rem;
}

.a-action{
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
    display: flex;
    justify-content: space-between;
}


.a-action input{
    width: 13.55px;
height: 13.55px;

background: #FFFFFF;
border: 2.25829px solid #EEEEEE;
border-radius: 2.25829px;
}

.a-action a{
    text-decoration: none;
    color: #00162A;
    font-size: 12px;
}

.a-action label{
    color: #00162A;
    font-size: 12px;
}

button{
    background-color: #00162A;
    border-radius: 4px;
    width: 17.5rem;
    height: 2.9rem;
    color: white;
    border: none;
}








.icon{
    display: flex;
    justify-content: center;
}

.icon img{
    margin: 1rem 0.5rem;
}

.o-signup{
    width: 17.5rem;
    height: 2.9rem;    
    display: flex;
    justify-content: center;
}

.o-signup a{
    
    color: #00162A;
}

span{
    font-weight: bold;
}






}
