@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@media only screen and (max-width: 600px){
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font:'Poppins', sans-serif;
    text-decoration: none;
}


.wrapper{
    margin-top: 56px ;
    margin-left: 40px;
    width: 279px;
    height: 451px;

}

.logo{
    display: flex;
    justify-content: center;
}

form{
    margin-top: 47.7px;
}

label{
    font-size: 10px;
    line-height: 19px;
}

input{
    width: 278.97px;
height: 41.45px;
background-color: rgba(238, 238, 238, 0.6);
border: none;
border-radius: 3px;
margin-top: 5px;
}

#checkbox{
    width: 13px;
height: 13.55px;
border: 2.25829px solid #EEEEEE;

border-radius: 2.25829px;
}




button{
    color: white;
    border: none;
    width: 278.97px;
height: 37.46px;
background: #00162A;
border-radius: 1.59409px;
font-size: 12px;
}

.a-action{
    display: flex;
    justify-content: space-between;
}

#f-pass a{
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 19px;
letter-spacing: 0.0772586px;

color: rgba(0, 0, 0, 0.7);
}

.l-remember label{
font-weight: 600;
font-size: 10px;
line-height: 19px;
}

.a-action{
    margin: 15px 0px;
} 

.e-field{
}

.p-field{
    margin: 8px 0px;

}

.icon{
    margin-top: 30px;
    width: 136.29px;
    height: 29.21px;
    display: flex;
    justify-content: space-around;
   margin-left: 70px;
}

.o-signup{
    margin-top: 12.4px;
    margin-left: 55px;

}


.o-signup a{
    color: #00162A;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    
    letter-spacing: 0.0772586px;
}
}